
@font-face {
  font-family: 'Pretendard-Lighter';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Lighter.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

  .contentBody {
    margin: 0 auto;
    background-color: #282c34;
    width: 80%;
    min-width: 800px;
    height: 100%;
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    color: white;
  }

  .firstTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 40px;
  }

  .firstTable th {
    background-color: #f0f0f0; 
    color: #333; 
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }

  .firstTable td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .contentBody p {
    margin: 40px 10px 0;
  }

  .code {
    font-family: 'Pretendard-Lighter';
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 14px;
  }

  .apiRequestDataTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .apiRequestDataTable th {
    background-color: #f0f0f0; 
    color: #333; 
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  .apiRequestDataTable td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .apiRequestDataTable td:first-child {
    width: 10%; 
  }
  
  .apiRequestDataTable td:nth-child(2) {
    width: 10%; 
  }

  
  .apiRequestDataTable td:nth-child(3) {
    width: 10%; 
  }
  
  .apiResponseDataTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .apiResponseDataTable th {
    background-color: #f0f0f0; 
    color: #333; 
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  .apiResponseDataTable td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  
  .apiResponseDataTable td:first-child {
    width: 23%; 
  }
