/* Sidebar.css */

.selectedTab {
  background-color:#202C3E;
  padding: 10px 10px;
}

  .selected {
    width: 200px;
    border-bottom: 2px solid white;
    padding: 10px 15px;
    /* border-radius: 5px; */
  }
  .noSelected {
    padding: 8px 15px;
    border-bottom: 1px solid #282c34;
    /* border-radius: 5px; */
  }
  .sidebar {
    width: 270px;
    margin: 0 ;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
  }
  
  .sidebar li {
    margin: 10px;
    padding-bottom: 20PX;
    
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
  }
  
  .noSelected:hover {
    /* background-color:#202C3E; */
    border-bottom: 1px solid rgb(157, 157, 157);
    width: 200px;
    cursor: pointer;
  }
  
  .subTabs {
    display: none;
  }
