a {
    text-decoration: none;
    color: #000;
}
.mypageBody {
    min-height: 100vh;
    display: flex;
    /*
    메인화면 배경 도형
  */
    background-color: #282c34;
    background-image: url('../../assets/img/background.png');
    background-size: cover;
}
.mypageContainer {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(240, 240, 240, 0.3);
    width: 30%;
    min-width: 400px;
    /* height: 100%; */
    padding: 10px 20px 20px;
    border-radius: 50px;
}
.logoText {
    font-family: 'Pretendard-Regular';
    font-size: 25px;
    margin: 20px auto 10px;
}
.textBox {
    width: 100%;
    margin: 5px 0;
    padding: 12px 15px 20px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    /* input 박스가 프레임밖으로 벗어나는걸 막음 */
    box-sizing: border-box;
    word-break: break-all;
    background-color: #d7d7d7;
}
.textBox img {
    width: 20px;
    float: right;
    margin: 8px 10px 2px;
    cursor: pointer;
}
.client .textBox {
    width: 95%;
    margin: 8px auto 16px;
}
.inputBox {
    width: 100%;
    padding: 20px 15px;
    margin-top: 20px;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    /* input 박스가 프레임밖으로 벗어나는걸 막음 */
    box-sizing: border-box;
}
.inputBox:focus {
    outline: none;
}
.apiTokenRefreshBtn {
    width: 100%;
    margin: 20px 0 40px 0;
    padding: 20px 15px;
    background-color: rgb(250, 250, 250);
    color: #182018;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}
.apiTokenRefreshBtn:hover {
    background-color: #182018;
    color: #fff;
}
.client {
    width: 95%;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
}
.clientText {
    margin: 10px;
    font-weight: 900;
}
.clientContent {
    margin: 12px;
    display: block;
    width: 95%;
    box-sizing: border-box;
}
