<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
<script>
    Docum
</script>

<div class="page-container">
    <div class="login-form-container shadow">
        <div class="login-form-right-side">
            <div class="top-logo-wrap">

            </div>
            <h1>SSAFY FINANCIAL OPEN API</h1>
            <p>로그인 인증 후 사용자 카드 사용 내역에 대한 더미 데이터를 제공하고 있습니다.</p>
        </div>
        <div class="login-form-left-side">
            <div class="login-input-container">
                <div class="login-input-wrap input-id">
                    <i class="far fa-envelope"></i>
                    <input placeholder="인증용 Email을 입력해주세요." id="email" type="text">
                </div>
            </div>
            <div class="login-btn-wrap">
                <button class="login-btn" id="emailButton">이메일 인증번호 보내기</button>
            </div>
                <div class="login-input-wrap input-password">
                    <i class="fas fa-key"></i>
                    <input placeholder="인증번호를 입력해주세요" id="password"  type="password">
                </div>
            </div>
            <div class="login-btn-wrap">
                <button class="login-btn" id="passwordButton">Login</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
