.signupBody {
	min-height: 100vh;
	display: flex;
	/*
    메인화면 배경 도형
  */
	background-color: #282c34;
	background-image: url("../../assets/img/background.png");
	background-size: cover;
}
.signupContainer {
	margin: 100px auto;
	/* width: 336px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(240, 240, 240, 0.3);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	width: 10%;
	min-width: 30%;
	height: 100%;
	padding: 10px 20px 20px;
	border-radius: 50px;
}
.logoText {
	font-size: 2rem;
	margin-bottom: 10px;
}
.signupTitle {
	font-size: 1rem;
	font-weight: 900;
}
.signupBox,
.signupBox2 {
	display: flex;
	width: 100%;
	font-weight: 900;
	color: #000000;
}
.signupBox {
	flex-direction: column;
}
.signupBox2 {
	flex-direction: row;
	justify-content: space-between;
}
.areaBox {
	flex: 1; /* areaBox가 동일한 너비를 가지도록 설정합니다. */
	display: flex;
	flex-direction: column;
	margin-right: 10px; /* areaBox와 classBox 간의 간격을 조절합니다. */
}
.classBox {
	flex: 1; /* classBox가 동일한 너비를 가지도록 설정합니다. */
	display: flex;
	flex-direction: column;
	margin-left: 10px; /* areaBox와 classBox 간의 간격을 조절합니다. */
}
.signupText,
.signupText2 {
	margin: 7px 0 7px 0;
}

.signupInput,
.signupInput2 {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.26);
	border-radius: 4px;
	/* input 박스가 프레임밖으로 벗어나는걸 막음 */
	box-sizing: border-box;
	/* overflow: hidden; */
}
.signupInput:focus .signupInput2:focus {
	outline: none;
}
.signupBtn {
	width: 100%;
	margin: 30px 0 40px 0;
	padding: 20px 15px;
	background-color: rgb(250, 250, 250);
	color: rgba(0, 0, 0, 0.16);
	border: none;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 6px;
	cursor: pointer;
}
.signupBtn:hover {
	background-color: #182018;
	color: #fff;
}
